* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 20px;
  font-family: sans-serif;
  color: white;
  background-color: #360369;
  padding: 2rem;
  min-height: 100vh;
}

section {
  padding: 1rem;
  width: 100%;
  /* background-color: rgba(175, 183, 183, 0.508); */
  display: none;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: xxx-large;
  gap: 1rem;
}
.welcome button {
  width: 15%;
  height: 2rem;
  transition: all 500ms ease-in;
}
.welcome button:hover {
  border-radius: 5px;
  transform: scale(1.1);
  cursor: pointer;
}
p {
  color: rgb(168, 168, 168);
}

span {
  border-radius: 5px;
  background-color: #270846;
  padding: 0.5rem 1.5rem;
  display: inline-block;
}
#info {
  display: flex;
  gap: 1rem;
}

.main-map {
  flex-direction: column;
  gap: 1rem;
}

#map {
  height: 400px; /* The height is 400 pixels */
  width: 100%; /* The width is the width of the web page */
}

.main-data {
  background-color: rgb(255, 255, 255);
  width: 100%;
  color: #360369;
  flex-direction: column;
  gap: 1rem;
}
.data {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  color: white;
}
